<div *ngIf="isEmployeeList" style="align-items: center;">
    <span> Search: <input type="text" [(ngModel)]="search"/> <button (click)="searchData()">Search</button></span>
    <span><button  (click)="isEmployeeList = false"  >Add record</button></span>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let e of rowData">
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.dob}}</td>
            <td>{{e.email}}</td>
            <td>
                <button (click)="isEmployeeList= false;openEditFormData(e)">Update</button>
                <button (click)="deleteRecord(e._id)">Delete</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!isEmployeeList" style="align-items: center;">
    <form [formGroup]="employeeForm">
        <div>
            <label>First Name</label>
            <input type="text" formControlName = 'firstName' required placeholder="Please Enter First Name" />
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" formControlName = 'lastName' required placeholder="Please Enter last Name" />
        </div>
        <div>
            <label>Email</label>
            <input type="email" formControlName = 'email' required placeholder="Please Enter email Address" />
        </div>
        <div>
            <label>Dob</label>
            <input type="date" formControlName = 'dob' required />
        </div>
        <div>
            <label>Profile pic</label>
            <input type="file" formControlName = 'profilePic' required />
        </div>
        <div>
            <label>Hobbies</label>
            <input type="radio" value='WFH' />
        </div>
        <div>
            <button type="submit" (click)="addData(employeeForm.value)">Submit</button>
        </div>
    </form>
</div>
